{% extends "template.html" %}
{% block conteudo %}

   <h1>Consulta dos atendimentos</h1>



 <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
                <tr>
                    <th>Atendimento</th>
                    <th>Matrícula Cliente</th>
                    <th>Nome Cliente</th>
                    <th>Início Atendimento</th>
                </tr>
        </thead>
        <tbody>

            {% for atendimento in atendimentos %}
                <tr>
                    <td>{{atendimento[0]}}</td>
                    <td>{{atendimento[4]}}</td>
                    <td>{{atendimento[5]}}</td>
                    <td>{{atendimento[9]}}</td>
                </tr>
            {%endfor%}

{% endblock %}